
<% if flash[:type] != nil %>

<div id="flash-messages" class="alert alert-<%= flash[:type] %>">
	<ul>
		<% flash.each do |key, value| %>
		<% if key.to_s != 'type' %>
			<li><%= value %></li>
		<% end %>
		<% end %>
	</ul>
</div>

<% end %>