<%= form_for(@producto) do |f| %>
<% if @producto.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @producto.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
        <% end %>    
    </ul>
</div>
<% end %>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label 'Código de barras' %>
            <%= f.text_field :barcode, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :codigo_corto %>
            <%= f.text_field :codigo_corto, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :marca %>
            <%= f.text_field :marca, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :descripcion %>
            <%= f.text_field :descripcion, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :contenido %>
            <%= f.text_field :contenido, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :unidad %>
            <%= f.collection_select :unidad, UnidadProducto.all, :nombre, :nombre, { prompt: true }, { :class => 'form-control' } %>
        </div>
        <div class="form-group">
            <%= f.label :precio %>
            <%= f.text_field :precio, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :aplica_iva %>
            <%= f.check_box :aplica_iva, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :otros_impuestos %>
            <%= f.collection_select :otros_impuestos, Impuesto.all, :id, :descripcion, { prompt: true }, { :class => 'form-control' } %>
        </div>
        <div class="form-group">
            <%= f.label :familia %>
            <%= f.collection_select :familia, FamiliaProducto.all, :id, :nombre, { prompt: true }, { :class => 'form-control' } %>
        </div>
        <div class="form-group">
            <%= f.label 'Tipo producto' %>
            <%= f.collection_select :id_tipo_producto, TipoProducto.all, :id, :nombre, { prompt: true }, { :class => 'form-control' } %>
        </div>
        <div class="form-group">
            <%= f.label :es_perecible %>
            <%= f.check_box :es_perecible, :class => "form-control" %>
        </div>  
        <div class="form-group">
            <%= f.label :es_venta_fraccionada %>
            <%= f.check_box :es_venta_fraccionada, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :precio_editable %>
            <%= f.check_box :precio_editable, :class => "form-control" %>
        </div>        
    </div>
</div>

<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>

<% end %>
