<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-align-left"></span>
  Productos
</h2>

<div class="page-body">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">Editar producto</div>
				<div class="panel-body">
					<%= render 'form_edit' %>					
				</div>
			</div>
			<%= link_to 'Ver detalle', @producto, :class => "bnt btn-link" %> |
			<%= link_to 'Volver', productos_path, :class => "btn btn-link" %>			
		</div>
	</div>
</div>
