<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-align-left"></span>
  Productos
</h2>

<div class="page-buttons clearfix">
  <%= link_to 'Nuevo Producto', new_producto_path, :class => "btn btn-primary" %>
  <%= render :partial => 'shared/search', :locals => { 
    :filters => { 
      :barcode => 'Código de barras', 
      :codigo_corto => 'Código corto',
      :marca => 'Marca',
      :familia => 'Familia',
      :id_tipo_producto => 'Tipo de producto'
    }
  } %>
  <%= link_to 'Mostrar todos', productos_path, :class => "btn btn-default float-right" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Código de barras</th>
              <th>Codigo corto</th>
              <th>Marca</th>
              <th>Stock</th>
              <th>Precio</th>
              <th>Familia</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @productos.each do |producto| %>
            <tr>
              <td><%= producto.barcode %></td>
              <td><%= producto.codigo_corto %></td>
              <td><%= producto.marca %></td>
              <td><%= producto.stock %></td>
              <td>$ <%= producto.precio.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
              <td><%= producto.familia_producto.nombre %></td>
              <td><%= producto.tipo_producto.nombre %></td>
              <td><%= link_to '', producto, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
