<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-align-left"></span>
	Productos
</h2>

<% if notice -%>
<div class="alert alert-info"><%= notice %></div>
<% end -%>

<div class="page-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle producto</div>
				<div class="panel-body">

					<div class="row">
						<div class="col-md-6">
							<table class="table">
								<tr>
									<th>Codigo de barras:</th>
									<td><%= @producto.barcode %></td>
								</tr>
								<tr>
									<th>Codigo corto:</th>
									<td><%= @producto.codigo_corto %></td>
								</tr>
								<tr>
									<th>Marca:</th>
									<td><%= @producto.marca %></td>
								</tr>
								<tr>
									<th>Descripcion:</th>
									<td><%= @producto.descripcion %></td>
								</tr>
								<tr>
									<th>Contenido:</th>
									<td><%= @producto.contenido %></td>
								</tr>
								<tr>
									<th>Unidad:</th>
									<td><%= @producto.unidad %></td>
								</tr>
								<tr>
									<th>Precio:</th>
									<td>$ <%= @producto.precio.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
								</tr>
								<tr>
									<th>Vendidos:</th>
									<td><%= @producto.vendidos %></td>	
								</tr>
								<tr>
									<th>Aplica iva:</th>
									<td>
										<% if @producto.aplica_iva %>
										Sí
										<% else %>
										No
										<% end %>
									</td>	
								</tr>
							</table>
						</div>
						<div class="col-md-6">
							<table class="table">
								<tr>
									<th>Otros impuestos:</th>
									<td><%= @producto.impuesto.descripcion %></td>	
								</tr>
								<tr>
									<th>Familia:</th>
									<td><%= @producto.familia_producto.nombre %></td>	
								</tr>
								<tr>
									<th>Tipo de producto:</th>
									<td><%= @producto.tipo_producto.nombre %></td>	
								</tr>
								<tr>
									<th>Es perecible:</th>
									<td>
										<% if @producto.es_perecible %>
										Sí
										<% else %>
										No
										<% end %>
									</td>	
								</tr>
								<tr>
									<th>Dias stock:</th>
									<td><%= @producto.dias_stock %></td>	
								</tr>
								<tr>
									<th>Margen promedio:</th>
									<td><%= @producto.margen_promedio %></td>	
								</tr>
								<tr>
									<th>Es venta fraccionada:</th>
									<td>
										<% if @producto.es_venta_fraccionada %>
										Sí
										<% else %>
										No
										<% end %>
									</td>	
								</tr>
								<tr>
									<th>Stock pro:</th>
									<td><%= @producto.stock_pro %></td>	
								</tr>
								<tr>
									<th>Tasa canje:</th>
									<td><%= @producto.tasa_canje %></td>	
								</tr>
								<tr>
									<th>Precio editable:</th>
									<td>
										<% if @producto.precio_editable %>
										Sí
										<% else %>
										No
										<% end %>
									</td>	
								</tr>
							</table>
						</div>
					</div>

					<%= link_to 'Editar', edit_producto_path(@producto), :class => "btn btn-default" %>
					<!--<%= link_to 'Eliminar', @producto, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>-->
					<%= link_to 'Volver', productos_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div id="stock" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
			<script type="text/javascript">
				$(function () {
					$('#stock').highcharts({
						title: {
							text: 'Stock por local',
			                x: 0 //center
			            },
			            xAxis: {
			            	categories: <%= raw @producto.get_last_stocks[:labels].to_json %>
			            },
			            yAxis: {
			            	min: 0,
			            	title: {
			            		text: 'Unidades (UN)'
			            	},
			            	plotLines: [{
			            		value: 0,
			            		width: 1,
			            		color: '#808080'
			            	}]
			            },
			            tooltip: {
			            	valueSuffix: 'UN'
			            },
			            legend: {
			            	layout: 'vertical',
			            	align: 'right',
			            	verticalAlign: 'middle',
			            	borderWidth: 0
			            },
			            series: <%= raw @producto.get_last_stocks[:stats].to_json %>
			        });
				});
			</script>
		</div>
		<div class="col-md-6">
			<div id="ventas" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
			<script type="text/javascript">
				$(function () {
					$('#ventas').highcharts({
						title: {
							text: 'Ventas por local',
			                x: 0
			            },
			            xAxis: {
			            	categories: <%= raw @producto.get_last_sells[:labels].to_json %>
			            },
			            yAxis: {
			            	min: 0,
			            	title: {
			            		text: 'Unidades (UN)'
			            	},
			            	plotLines: [{
			            		value: 0,
			            		width: 1,
			            		color: '#808080'
			            	}]
			            },
			            tooltip: {
			            	valueSuffix: 'UN'
			            },
			            legend: {
			            	layout: 'vertical',
			            	align: 'right',
			            	verticalAlign: 'middle',
			            	borderWidth: 0
			            },
			            series: <%= raw @producto.get_last_sells[:stats].to_json %>
			        });
				});
			</script>
		</div>
		</div>
	</div>
</div>


