<%= form_for(@pedido) do |f| %>
<% if @pedido.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @pedido.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
        <% end %>    
    </ul>
</div>
<% end %>

<div class="form-group">
    <%= f.label :user_id %>
    <%= f.number_field :user_id, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :negocio_id %>
    <%= f.number_field :negocio_id, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :fecha %>
    <%= f.datetime_select :fecha, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :estado %>
    <%= f.number_field :estado, :class => "form-control" %>
</div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
