<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-pencil"></span>
  Pedidos
</h2>

<div class="page-buttons clearfix">
  <!--<%= link_to 'Nuevo Pedido', new_pedido_path, :class => "btn btn-primary" %>-->
  <%= render :partial => 'shared/search', :locals => { :filters => {
    :negocio => 'Negocio',
    :estado => 'Estado'
  }} %>
  <%= link_to 'Mostrar todos', pedidos_path, :class => "btn btn-default float-right" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Negocio</th>
              <th>Usuario</th>
              <th>Fecha</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @pedidos.each do |pedido| %>
            <tr>
              <td><%= pedido.negocio.nombre %></td>
              <td>
                <%= pedido.user.rut %> - 
                <%= pedido.user.nombre %>
              </td>
              <td><%= pedido.fecha %></td>
              <td><%= pedido.get_estado %></td>
              <td><%= link_to '', pedido, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
