<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-pencil"></span>
	Pedidos
</h2>

<% if notice -%>
<div class="alert alert-info"><%= notice %></div>
<% end -%>

<div class="page-body">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle pedido</div>
				<div class="panel-body">

					<table class="table">
						<tbody>
							<tr>
								<th>User:</th>
								<td>
									<%= @pedido.user.rut %> - 
									<%= @pedido.user.nombre %>
								</td>
							</tr>
							<tr>
								<th>Negocio:</th>
								<td><%= @pedido.negocio.nombre %></td>
							</tr>
							<tr>
								<th>Fecha:</th>
								<td><%= @pedido.fecha %></td>
							</tr>
							<tr>
								<th>Descripcion:</th>
								<td><%= @pedido.descripcion %></td>
							</tr>
							<tr>
								<th>Estado:</th>
								<td>
									<input type='hidden' name='_method' value='patch'>
									<%= select_tag :estado, options_for_select([['Creado', 0], ['Leído', 1], ['Enviado', 2], ['Recibido', 3], ['Cancelado', 4]], @pedido.estado),:id => "estado_select", :class => "form-control", :lid => "#{@pedido.id}" %>
								</td>
							</tr>
						</tbody>
					</table>

					<!--<%= link_to 'Editar', edit_pedido_path(@pedido), :class => "btn btn-default" %>
					<%= link_to 'Eliminar', @pedido, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>-->
					<%= link_to 'Volver', pedidos_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Productos solicitados</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Código de barras</th>
							<th>Marca</th>
							<th>Descripción</th>
							<th>Familia</th>
							<th>Tipo</th>
							<th>Cantidad</th>
						</tr>
						<% @pedido.detalle.each do |detalle| %>
						<tr>
							<td><%= detalle.barcode %></td>
							<td><%= detalle.producto.marca %></td>
							<td><%= detalle.producto.descripcion %></td>
							<td><%= detalle.producto.familia_producto.nombre %></td>
							<td><%= detalle.producto.tipo_producto.nombre %></td>
							<td><%= detalle.cantidad %></td>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


