<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<title>Botillería Portezuelo</title>
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="stylesheet" href="/css/style.css">
	<!--<link rel="stylesheet/less" href="/less/style.less">
	<script type="text/javascript" src="/js/vendor/less-1.4.1.min.js"></script>-->

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="/js/vendor/highcharts.js"></script>
    <script src="/js/vendor/modules/exporting.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/index/home">portezuelo</a>
					<a id="menu-toggle" href="#"><span class="glyphicon glyphicon-th-list"></span></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a><span class="glyphicon glyphicon-user"></span><%= current_user.full_name %></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout">Cerrar sesión</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div id="header-ghost"></div>

		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
                <li><a href="/negocios"><span class="glyphicon glyphicon-briefcase"></span>Negocios</a></li>
                <li><a href="/productos"><span class="glyphicon glyphicon-align-left"></span>Productos</a></li>
                <li><a href="/inventarios"><span class="glyphicon glyphicon-th"></span>Inventario</a></li>
                <li><a href="/pedidos"><span class="glyphicon glyphicon-pencil"></span>Pedidos</a></li>
                <li><a href="/venta"><span class="glyphicon glyphicon-signal"></span>Ventas</a></li>
                <li><a href="/users"><span class="glyphicon glyphicon-user"></span>Usuarios</a></li>
                <li><a href="/config/index"><span class="glyphicon glyphicon-cog"></span>Configuración</a></li>
            </ul>
		</div>

		<div id="page-content-wrapper">
			<%= yield %>
		</div>

		<div id="footer-ghost">
			
		</div>
		<div id="footer">
			<div class="row">
				<div class="col-sm-12 text-right">
					Monitor de negocios v1.0 - <a href="http://www.requies.cl/">Requies</a>, 2014
				</div>
			</div>
		</div>
	</div>

	<script src="/js/bootstrap/transition.js"></script>
    <script src="/js/bootstrap/alert.js"></script>
    <script src="/js/bootstrap/button.js"></script>
    <script src="/js/bootstrap/carousel.js"></script>
    <script src="/js/bootstrap/collapse.js"></script>
    <script src="/js/bootstrap/dropdown.js"></script>
    <script src="/js/bootstrap/modal.js"></script>
    <script src="/js/bootstrap/tooltip.js"></script>
    <script src="/js/bootstrap/popover.js"></script>
    <script src="/js/bootstrap/scrollspy.js"></script>
    <script src="/js/bootstrap/tab.js"></script>
    <script src="/js/bootstrap/affix.js"></script>
    
    <script type="text/javascript">
    	// Dropdown thing
    	$('.dropdown-toggle').dropdown()

    	// Sidebar thing
    	$("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("active");
	    });
    </script>

    <script src="/js/widow/index-search.js"></script>
    <script src="/js/widow/ajax.js"></script>
</body>
</html>
