<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<title>Botillería Portezuelo</title>
	<link rel="stylesheet" href="/css/style.css">
	<!--<link rel="stylesheet/less" href="/less/style.less">
	<script type="text/javascript" src="/js/vendor/less-1.4.1.min.js"></script>-->

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper" class="layout-empty">
		
		<%= yield %>

		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<a href="http://www.requies.cl/" class="btn btn-link">Requies, 2014</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="/js/bootstrap/transition.js"></script>
    <script src="/js/bootstrap/alert.js"></script>
    <script src="/js/bootstrap/button.js"></script>
    <script src="/js/bootstrap/carousel.js"></script>
    <script src="/js/bootstrap/collapse.js"></script>
    <script src="/js/bootstrap/dropdown.js"></script>
    <script src="/js/bootstrap/modal.js"></script>
    <script src="/js/bootstrap/tooltip.js"></script>
    <script src="/js/bootstrap/popover.js"></script>
    <script src="/js/bootstrap/scrollspy.js"></script>
    <script src="/js/bootstrap/tab.js"></script>
    <script src="/js/bootstrap/affix.js"></script>
</body>
</html>





<div class="padre">
	<div class="hijo"><div class="nieto"></div></div>
	<div class="hijo"><div class="nieto"></div></div>
	<div class="hijo"><div class="nieto"></div></div>
	<div class="hijo"><div class="nieto"></div></div>
	<div class="hijo"><div class="nieto"></div></div>
	<div class="hijo"><div class="nieto"></div></div>
</div>












