<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-cog"></span>
  Configuración
</h2>

<div class="page-buttons clearfix">
	<%= link_to 'Tipos de impuesto', impuestos_path, :class => "btn btn-default" %>
	<%= link_to 'Familias de productos', familia_productos_path, :class => "btn btn-default" %>
	<%= link_to 'Unidades', unidad_productos_path, :class => "btn btn-default" %>
</div>