
<div class="header clearfix">
	<h1>Bienvenido a portezuelo!</h1>
	<p>El sistema que centralizará tus ventas, pedidos y usuarios en las botillerías.</p>
</div>

<div class="row body-inset">
	<div class="col-sm-4 col-sm-offset-4">
		
		<div class="panel panel-default panel-green">
			<div class="panel-heading text-center">Inicio de sesión</div>
			<div class="panel-body">

				<%= form_tag sessions_path do %>
				<%= render 'shared/flash_messages' if !flash.empty? %>
				<div class="form-group text-center">
					<%= label_tag :rut, 'RUT' %>
					<%= text_field_tag :rut, params[:rut] , :class => "form-control", :placeholder => "Cédula de identidad" %>
				</div>
				<div class="form-group text-center">
					<%= label_tag :passwd, 'Contraseña' %>
					<%= password_field_tag :passwd, nil, :class => "form-control", :placeholder => "Contraseña" %>
				</div>
				<div class="text-center">
					<%= submit_tag "Ingresar", :class => "btn btn-primary" %>
				</div>
				<% end %>

				<hr>

			</div>
		</div>

	</div>
</div>
