<%= form_for(@impuesto) do |f| %>
<% if @impuesto.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @impuesto.errors.messages.each do |msg| %>
                <li><%= msg[1][0] %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="form-group">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label 'Monto (%)' %>
    <%= f.text_field :monto, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :removable %>
    <%= f.check_box :removable, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :visible %>
    <%= f.check_box :visible, :class => "form-control" %>
</div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
