
<%= render partial: "/config/header" %>

<div class="page-buttons clearfix">
  <%= link_to 'Nuevo Impuesto', new_impuesto_path, :class => "btn btn-primary" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Descripcion</th>
              <th>Monto</th>
              <th>Removable</th>
              <th>Visible</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @impuestos.each do |impuesto| %>
              <tr>
                <td><%= impuesto.descripcion %></td>
                <td><%= impuesto.monto %>%</td>
                <td><%= impuesto.removable ? "Sí" : "No" %></td>
                <td><%= impuesto.visible ? "Sí" : "No" %></td>
                <td><%= link_to '', impuesto, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
