
<%= render partial: "/config/header" %>

<% if notice -%>
<div class="alert alert-info"><%= notice %></div>
<% end -%>

<div class="page-body">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle</div>
				<div class="panel-body">
					
					<table class="table">
						<tbody>
							<tr>
								<th>Descripcion:</th>
								<td><%= @impuesto.descripcion %></td>
							</tr>
							<tr>
								<th>Monto:</th>
								<td><%= @impuesto.monto %>%</td>
							</tr>
							<tr>
								<th>Removable:</th>
								<td><%= @impuesto.removable ? "Sí" : "No" %></td>
							</tr>
							<tr>
								<th>Visible:</th>
								<td><%= @impuesto.visible ? "Sí" : "No" %></td>
							</tr>
						</tbody>
					</table>

					<%= link_to 'Editar', edit_impuesto_path(@impuesto), :class => "btn btn-default" %>
					<!--<%= link_to 'Eliminar', @impuesto, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>-->
					<%= link_to 'Volver', impuestos_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>
	</div>
</div>


