<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @user.errors.messages.each do |msg| %>
                <li><%= msg[1][0] %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="row">
    <div class="col-md-6">

        <div class="form-group">
            <%= f.label :rut %>
            <%= f.text_field :rut, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :passwd %>
            <%= f.password_field :passwd, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :passwd_confirmation %>
            <%= f.password_field :passwd_confirmation, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :tipo_usuario %>
            <%= f.select :tipo_usuario, options_for_select([['Administrador', 0], ['Cajero', 1]]), {} , :class => "form-control" %>
        </div>        

    </div>
    <div class="col-md-6">

        <div class="form-group">
            <%= f.label :nombre %>
            <%= f.text_field :nombre, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :apell_p %>
            <%= f.text_field :apell_p, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :apell_m %>
            <%= f.text_field :apell_m, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :activo %>
            <%= f.check_box :activo %>
        </div>    
        
    </div>
</div>

<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
