<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-user"></span>
  Usuarios del sistema
</h2>

<div class="page-buttons clearfix">
  <%= link_to 'Nuevo usuario', new_user_path, :class => "btn btn-primary" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>RUT</th>
              <th>Nombre</th>
              <th>Fecha ingreso</th>
              <th>Tipo</th>
              <th>Habilitado</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.rut %></td>
              <td><%= user.nombre %> <%= user.apell_p %> <%= user.apell_m %></td>
              <td><%= user.fecha_ingreso %></td>
              <td><%= user.tipo_usuario %></td>
              <td>
                <% if user.activo %>
                  Sí
                <% else %>
                  No
                <% end %>
              </td>
              <td><%= link_to '', user, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
              <!-- <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>
