<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-user"></span>
	Usuarios del sistema
</h2>

<% if notice -%>
<div class="alert alert-info"><%= notice %></div>
<% end -%>

<div class="page-body">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle usuario</div>
				<div class="panel-body">

					<table class="table">
						<tbody>
							<tr>
								<th>RUT:</th>
								<td><%= @user.rut %></td>
							</tr>
							<tr>
								<th>Nombre:</th>
								<td><%= @user.nombre %></td>
							</tr>
							<tr>
								<th>Apellido paterno:</th>
								<td><%= @user.apell_p %></td>
							</tr>
							<tr>
								<th>Apellido materno:</th>
								<td><%= @user.apell_m %></td>
							</tr>
							<tr>
								<th>Fecha ingreso:</th>
								<td><%= @user.fecha_ingreso %></td>
							</tr>
							<tr>
								<th>Tipo de usuario:</th>
								<td><%= @user.tipo_usuario %></td>
							</tr>
							<tr>
								<th>Habilitado:</th>
								<td>
									<% if @user.activo %>
										Sí
									<% else %>
										No
									<% end %>
								</td>
							</tr>
						</tbody>
					</table>

				</div>			
			</div>
			<%= link_to 'Editar', edit_user_path(@user), :class => "btn btn-default" %>
			<!--<%= link_to 'Eliminar', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>-->
			<%= link_to 'Volver', users_path, :class => "btn btn-link" %>			
		</div>

		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Asistencia</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Negocio</th>
							<th>Entrada</th>
							<th>Salida</th>
						</tr>
						<% @asistencias.each do |asistencia| %>
							<tr>
								<td><%= asistencia.negocio.nombre %></td>
								<td><%= asistencia.entrada %></td>
								<td><%= asistencia.salida %></td>
							</tr>
						<% end %>
					</table>
					<div class="pagination">
						<%= will_paginate @asistencias, renderer: BootstrapPagination::Rails %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



