<%= form_for(@negocio) do |f| %>
<% if @negocio.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @negocio.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
        <% end %>    
    </ul>
</div>
<% end %>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :rut %>
            <%= f.text_field :rut, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :razon_social %>
            <%= f.text_field :razon_social, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :nombre %>
            <%= f.text_field :nombre, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :fono %>
            <%= f.text_field :fono, :class => "form-control" %>
        </div>        
        <div class="form-group">
            <%= f.label :fax %>
            <%= f.text_field :fax, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :direccion %>
            <%= f.text_field :direccion, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :comuna %>
            <%= f.text_field :comuna, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :ciudad %>
            <%= f.text_field :ciudad, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :giro %>
            <%= f.text_field :giro, :class => "form-control" %>
        </div>        
    </div>
</div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
