<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-briefcase"></span>
  Negocios
</h2>

<div class="page-buttons clearfix">
  <%= link_to 'Nuevo negocio', new_negocio_path, :class => "btn btn-primary" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Rut</th>
              <th>Razon social</th>
              <th>Nombre</th>
              <th>Fono</th>
              <th>Fax</th>
              <th>Direccion</th>
              <th>Comuna</th>
              <th>Ciudad</th>
              <th>Giro</th>
              <th>Seleccionado</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @negocios.each do |negocio| %>
            <tr>
              <td><%= negocio.rut %></td>
              <td><%= negocio.razon_social %></td>
              <td><%= negocio.nombre %></td>
              <td><%= negocio.fono %></td>
              <td><%= negocio.fax %></td>
              <td><%= negocio.direccion %></td>
              <td><%= negocio.comuna %></td>
              <td><%= negocio.ciudad %></td>
              <td><%= negocio.giro %></td>
              <td>
                <% if negocio.seleccionado %>
                  Sí
                <% else %>
                  No
                <% end %>
              </td>
              <td><%= link_to '', negocio, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
