<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-briefcase"></span>
	Negocios
</h2>

<% if notice -%>
<div class="alert alert-info"><%= notice %></div>
<% end -%>

<div class="page-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle negocio</div>
				<div class="panel-body">
					
					<div class="row">
						<div class="col-md-6">
							<table class="table">
								<tr>
									<th>Rut:</th>
									<td><%= @negocio.rut %></td>
								</tr>
								<tr>
									<th>Razon social:</th>
									<td><%= @negocio.razon_social %></td>
								</tr>
								<tr>
									<th>Nombre:</th>
									<td><%= @negocio.nombre %></td>
								</tr>
								<tr>
									<th>Fono:</th>
									<td><%= @negocio.fono %></td>
								</tr>
								<tr>
									<th>Fax:</th>
									<td><%= @negocio.fax %></td>
								</tr>	
							</table>
						</div>
						<div class="col-md-6">
							<table class="table">
								<tr>
									<th>Direccion:</th>
									<td><%= @negocio.direccion %></td>
								</tr>
								<tr>
									<th>Comuna:</th>
									<td><%= @negocio.comuna %></td>
								</tr>
								<tr>
									<th>Ciudad:</th>
									<td><%= @negocio.ciudad %></td>
								</tr>
								<tr>
									<th>Giro:</th>
									<td><%= @negocio.giro %></td>
								</tr>
								<tr>
									<th>Seleccionado:</th>
									<td>
										<% if @negocio.seleccionado %>
											Sí
										<% else %>
											No
										<% end %>
									</td>
								</tr>	
							</table>
						</div>
					</div>

					<%= link_to 'Editar', edit_negocio_path(@negocio), :class => "btn btn-default" %>
					<!--<%= link_to 'Eliminar', @negocio, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>-->
					<%= link_to 'Volver', negocios_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		
	</div>
</div>


