<%= form_for(@ventum) do |f| %>
<% if @ventum.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @ventum.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
        <% end %>    
    </ul>
</div>
<% end %>

<div class="form-group">
    <%= f.label :id %>
    <%= f.number_field :id, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :negocio_id %>
    <%= f.number_field :negocio_id, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :user_id %>
    <%= f.text_field :user_id, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :nro_venta %>
    <%= f.number_field :nro_venta, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :caja_id %>
    <%= f.number_field :caja_id, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :caj_negocio_id %>
    <%= f.number_field :caj_negocio_id, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :monto %>
    <%= f.number_field :monto, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :fecha %>
    <%= f.datetime_select :fecha, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :maquina_id %>
    <%= f.number_field :maquina_id, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :tipo_documento %>
    <%= f.number_field :tipo_documento, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :tipo_venta %>
    <%= f.number_field :tipo_venta, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :descuento %>
    <%= f.number_field :descuento, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :id_documento %>
    <%= f.number_field :id_documento, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label :cancelada %>
    <%= f.check_box :cancelada, :class => "form-control" %>
</div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
