<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-signal"></span>
  Ventas
</h2>

<div class="page-buttons clearfix">
  <!--<%= link_to 'Nueva Venta', new_ventum_path, :class => "btn btn-primary" %>-->
  <%= render :partial => 'shared/search', :locals => { :filters => {
    :negocio => 'Negocio',
    :user => 'Usuario'
  }} %>
  <%= link_to 'Mostrar todos', venta_path, :class => "btn btn-default float-right" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Negocio</th>
              <th>Monto</th>
              <th>Descuento</th>
              <th>Fecha</th>
              <th class="text-center">Cancelada</th>
              <th class="text-center">Cant. productos</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @venta.each do |ventum| %>
            <tr>
              <td><%= ventum.negocio.nombre %></td>
              <td>$ <%= ventum.monto.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
              <td>$ <%= ventum.descuento.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
              <td><%= ventum.fecha %></td>
              <td class="text-center">
                <% if ventum.cancelada %>
                Sí
                <% else %>
                No
                <% end %>
              </td>
              <td class="text-center"><%= ventum.detalle.count %></td>
              <td><%= link_to '', ventum, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
