<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-signal"></span>
	Ventas
</h2>

<% if notice -%>
<div class="alert alert-info"><%= notice %></div>
<% end -%>

<div class="page-body">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle</div>
				<div class="panel-body">

					<table class="table">
						<tbody>
							<tr>
								<th>Código:</th>
								<td><%= @ventum.id %></td>
							</tr>
							<tr>
								<th>Negocio:</th>
								<td><%= @ventum.negocio.nombre %></td>
							</tr>
							<tr>
								<th>Usuario:</th>
								<td>
									<%if @ventum.user != nil %>
										<%= @ventum.user.rut %> - 
										<%= @ventum.user.nombre %>
									<% else %>
										Desconocido
									<% end %>
								</td>
							</tr>
							<tr>
								<th>Nro venta:</th>
								<td><%= @ventum.nro_venta %></td>
							</tr>
							<tr>
								<th>Monto:</th>
								<td>$ <%= @ventum.monto.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
							</tr>
							<tr>
								<th>Fecha:</th>
								<td><%= @ventum.fecha %></td>
							</tr>
							<tr>
								<th>Descuento:</th>
								<td>$ <%= @ventum.descuento.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
							</tr>
							<tr>
								<th>Cancelada:</th>
								<td>
									<% if @ventum.cancelada %>
									Sí
									<% else %>
									No
									<% end %>
								</td>
							</tr>
						</tbody>
					</table>

					<!--<%= link_to 'Editar', edit_ventum_path(@ventum), :class => "btn btn-default" %>
					<%= link_to 'Eliminar', @ventum, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>-->
					<%= link_to 'Volver', venta_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Productos incluidos en esta venta</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Código de barras</th>
							<th>Marca</th>
							<th>Descripción</th>
							<th>Precio</th>
							<th>Cantidad</th>
						</tr>
						<% @ventum.detalle.each do |detalle| %>
						<tr>
							<td><%= detalle.barcode %></td>
							<td><%= detalle.producto.marca %></td>
							<td><%= detalle.producto.descripcion %></td>
							<td>$ <%= detalle.precio.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
							<td><%= detalle.cantidad %></td>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


