
<%= render partial: "/config/header" %>

<% if notice -%>
<div class="alert alert-info"><%= notice %></div>
<% end -%>

<div class="page-body">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle</div>
				<div class="panel-body">

					<table class="table">
						<tbody>
							<tr>
								<th>Nombre:</th>
								<td><%= @tipo_producto.nombre %></td>
							</tr>
						</tbody>
					</table>

					<%= link_to 'Editar', edit_tipo_producto_path(@tipo_producto), :class => "btn btn-default" %>
					<%= link_to 'Eliminar', @tipo_producto, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
					<%= link_to 'Volver', tipo_productos_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>
	</div>
</div>


