<%%= form_for(@<%= singular_table_name %>) do |f| %>
<%% if @<%= singular_table_name %>.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <%% @<%= singular_table_name %>.errors.messages.each do |msg| %>
            <li><%%= msg[1][0] %></li>
            <%% end %>    
        </ul>
    </div>
<%% end %>

<% attributes.each do |attribute| -%>
<div class="form-group">
    <% if attribute.password_digest? -%>
    <%%= f.label :password %>
    <%%= f.password_field :password, :class => "form-control" %>
</div>
<div>
    <%%= f.label :password_confirmation %>
    <%%= f.password_field :password_confirmation, :class => "form-control" %>
    <% else -%>
        <%- if attribute.reference? -%>
            <%%= f.label :<%= attribute.column_name %> %>
            <%%= f.collection_select :<%= attribute.column_name %>, <%= attribute.name.camelize %>.all, :id, :name, prompt: true, :class => 'form-control'  %>
        <%- else -%>
            <%%= f.label :<%= attribute.name %> %>
            <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => "form-control" %>
        <%- end -%>
    <% end -%>
</div>
<% end -%>
<div class="actions">
    <%%= f.submit :class => "btn btn-success" %>
</div>
<%% end %>
