<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-user"></span>
	Editing <%= singular_table_name %>
</h2>

<div class="page-body">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">Nuevo</div>
				<div class="panel-body">
					<%%= render 'form' %>					
				</div>
			</div>
			<%%= link_to 'Show', @<%= singular_table_name %>, :class => "bnt btn-link" %> |
			<%%= link_to 'Back', <%= index_helper %>_path, :class => "btn btn-link" %>			
		</div>
	</div>
</div>
