<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-user"></span>
  Listing <%= plural_table_name %>
</h2>

<div class="page-buttons clearfix">
  <%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path, :class => "btn btn-primary float-right" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
        <% attributes.reject(&:password_digest?).each do |attribute| -%>
          <th><%= attribute.human_name %></th>
        <% end -%>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
              <tr>
                <% attributes.reject(&:password_digest?).each do |attribute| -%>
                  <%- if attribute.reference? -%>
                    <td><%%= <%= singular_table_name %>.<%= attribute.name %>.name %></td>
                  <%- else -%>
                    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
                  <%- end -%>
                <% end -%>
                <td><%%= link_to '', <%= singular_table_name %>, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
              </tr>
            <%% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
