<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-user"></span>
	#Titulo
</h2>

<%% if notice -%>
<div class="alert alert-info"><%%= notice %></div>
<%% end -%>

<div class="page-body">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle</div>
				<div class="panel-body">
					
					<table class="table">
						<tbody>
						<% attributes.reject(&:password_digest?).each do |attribute| -%>
						<%- if attribute.reference? -%>
							<tr>
								<th><%= attribute.human_name %>:</th>
								<td><%%= @<%= singular_table_name %>.<%= attribute.name %>.name %></td>
							</tr>
						<%- else -%>
							<tr>
							  <th><%= attribute.human_name %>:</th>
							  <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
							</tr>
						<%- end -%>
						<% end -%>
						</tbody>
					</table>

					<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => "btn btn-default" %>
					<%%= link_to 'Destroy', @<%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
					<%%= link_to 'Back', <%= index_helper %>_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>
	</div>
</div>


