<%= form_for(@inventario) do |f| %>
<% if @inventario.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @inventario.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
        <% end %>    
    </ul>
</div>
<% end %>

<div class="form-group">
    <%= f.label :negocio_id %>
    <%= f.collection_select :negocio_id, Negocio.all, :id, :nombre, { prompt: true }, { :class => 'form-control' } %>
</div>
<div class="form-group">
    <%= f.label 'Usuario' %>
    <%= f.collection_select :user_id, User.all, :id, :nombre, { prompt: true }, { :class => 'form-control' } %>
</div>
<div class="form-group">
    <%= f.label :fecha %>
    <%= f.datetime_select :fecha, :class => "form-control" %>
</div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
