<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-th"></span>
	Inventario
</h2>

<div class="page-body">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">Nuevo</div>
				<div class="panel-body">
					<%= render 'form' %>					
				</div>
			</div>
			<%= link_to 'Show', @inventario, :class => "bnt btn-link" %> |
			<%= link_to 'Back', inventarios_path, :class => "btn btn-link" %>			
		</div>
	</div>
</div>
