<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-th"></span>
  Inventario
</h2>

<div class="page-buttons clearfix">
  <!--<%= link_to 'Nuevo inventario', new_inventario_path, :class => "btn btn-primary" %>-->
  <%= render :partial => 'shared/search', :locals => { 
    :filters => { 
      :usuario => 'Usuario', 
      :negocio => 'Negocio'
    }
  } %>
  <%= link_to 'Mostrar todos', inventarios_path, :class => "btn btn-default float-right" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Negocio</th>
              <th>Usuario</th>
              <th>Fecha</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @inventarios.each do |inventario| %>
            <tr>
              <td><%= inventario.negocio.nombre %></td>
              <td>
                <%= inventario.user.rut %> - 
                <%= inventario.user.nombre %>
              </td>
              <td><%= inventario.fecha %></td>
              <td><%= link_to '', inventario, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
