<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-th"></span>
	Inventario
</h2>

<% if notice -%>
<div class="alert alert-info"><%= notice %></div>
<% end -%>

<div class="page-body">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle inventario</div>
				<div class="panel-body">

					<table class="table">
						<tbody>
							<tr>
								<th>Negocio:</th>
								<td>
									<%= @inventario.negocio.nombre %>
								</td>
							</tr>
							<tr>
								<th>Usuario:</th>
								<td>
									<%= @inventario.user.rut %> - 
									<%= @inventario.user.nombre %>
								</td>
							</tr>
							<tr>
								<th>Fecha:</th>
								<td><%= @inventario.fecha %></td>
							</tr>
						</tbody>
					</table>
					
					<!--
					<%= link_to 'Editar', edit_inventario_path(@inventario), :class => "btn btn-default" %>
					<%= link_to 'Eliminar', @inventario, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>-->
					<%= link_to 'Volver', inventarios_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Conteo de productos</div>
				<div class="panel-body">
					<div class="clearfix" style="margin-bottom: 15px;">
						<%= render :partial => 'shared/search', :locals => { 
							:filters => {
								:marca => 'Marca',
								:familia => 'Familia',
								:tipo => 'Tipo producto'
							}
						} %>
						<%= link_to 'Mostrar todos', @inventario, :class => "btn btn-default float-right" %>
					</div>
					<table class="table">
						<tr>
							<th>Código de barras</th>
							<th>Marca</th>
							<th>Descripción</th>
							<th>Familia</th>
							<th>Tipo</th>
							<th>Cantidad</th>
						</tr>
						<% @detalles.each do |detalle| %>
							<tr>
								<td><%= detalle.barcode %></td>
								<td><%= detalle.producto.marca %></td>
								<td><%= detalle.producto.descripcion %></td>
								<td><%= detalle.producto.familia_producto.nombre %></td>
								<td><%= detalle.producto.tipo_producto.nombre %></td>
								<td><%= detalle.cantidad %></td>
							</tr>
						<% end %>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>


