
<h2>Bienvenido <%= current_user.full_name %></h2>	
<hr>

<div class="panel panel-primary">
    <div class="panel-heading">Resumen anual de ventas</div>
    <div class="panel-body">
      <div id="ventas" style="min-width: 100%; height: 350px; margin: 0 auto"></div>
      <script type="text/javascript">
        $(function () {
          $('#ventas').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total de ventas por mes'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: <%= raw Venta.get_year_sells[:categories].to_json %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Ventas (pesos)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>$ {point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: -0.35,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Ventas',
                data: <%= raw Venta.get_year_sells[:data].to_json %>
    
            }]
          });
        });
      </script>
    </div>
  </div>