
@header-height: 60px;
@footer-height: 40px;

@contrast: #4fd0e9;
@yield-back: #E8E9EE;
@yield-color: #656D78;
@yield-green: #8CC152;

@soft-line: #CECECE;

@sidebar-back: #313940;
@sidebar-color: #AAB2BD;
@sidebar-brand: #242A34;