@charset "utf-8";

/* Bootstrap */
@import "less/bootstrap/bootstrap.less";

/* Terram */
@import "less/widow/widow.less";

/* Fonts TEMPORAL */
@import url(http://fonts.googleapis.com/css?family=Francois+One);

/**
 * Site
 */

// Repainting for Chrome 33.x
body {
	-webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

