
<%= render partial: "/config/header" %>

<div class="page-body">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">Nuevo</div>
				<div class="panel-body">
					<%= render 'form' %>					
				</div>
			</div>
			<%= link_to 'Ver detalle', @tipo_ingreso, :class => "bnt btn-link" %> |
			<%= link_to 'Volver', tipo_ingresos_path, :class => "btn btn-link" %>			
		</div>
	</div>
</div>
