
<%= render partial: "/config/header" %>

<div class="page-buttons clearfix">
  <%= link_to 'Nuevo Tipo de ingreso', new_tipo_ingreso_path, :class => "btn btn-primary" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Descripcion</th>
              <th>Se puede eliminar?</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @tipo_ingresos.each do |tipo_ingreso| %>
            <tr>
              <td><%= tipo_ingreso.descripcion %></td>
              <td>
                <% if tipo_ingreso.removable %>
                Sí
                <% else %>
                No
                <% end %>
              </td>
              <td><%= link_to '', tipo_ingreso, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
