<%= form_for(@unidad_producto) do |f| %>
<% if @unidad_producto.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @unidad_producto.errors.messages.each do |msg| %>
            <li><%= msg[1][0] %></li>
            <% end %>    
        </ul>
    </div>
<% end %>

<div class="form-group">
                <%= f.label :nombre %>
            <%= f.text_field :nombre, :class => "form-control" %>
    </div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
