
<%= render partial: "/config/header" %>

<div class="page-buttons clearfix">
  <%= link_to 'Nueva unidad', new_unidad_producto_path, :class => "btn btn-primary" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @unidad_productos.each do |unidad_producto| %>
            <tr>
              <td><%= unidad_producto.nombre %></td>
              <td><%= link_to '', unidad_producto, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pagination">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
