<%= form_for(@tipo_egreso) do |f| %>
<% if @tipo_egreso.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @tipo_egreso.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
        <% end %>    
    </ul>
</div>
<% end %>

<div class="form-group">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, :class => "form-control" %>
</div>
<div class="form-group">
    <%= f.label 'Se puede eliminar?' %>
    <%= f.check_box :removable, :class => "form-control" %>
</div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
